[[extend 'layout.html']]

<div id="vue-target">

  <section class="section">
    <div class="title" style="font-family:Helvetica">Postlandia</div>
  </section>

  <section class="section">
    <div class="">
      <div class="is-fullwidth" v-if="posting == true">
        <div class="field">
          <textarea class="textarea is-fullwidth" v-model="post" placeholder="Enter new post here"
            @keyup.esc="posting=!posting; error =false" style="resize: none">
          </textarea>
          <span class="notification is-danger level" style="height: 1rem; position:absolute; left: 50%; margin: 0.8rem 0 0 -158px" v-if="error == true" v-on:click="error=false">
            Your post must contain a message!
          </span>
        </div>
        <button class="button is-primary is-size-6" v-on:click="add_post()">Post</button>
        <button class="button is-warning is-size-6" v-on:click="posting = !posting; error=false;">Cancel</button>
      </div>
      <div v-else>
        <button class="button is-primary is-size-6" v-on:click="posting = !posting">
          <i class="fa fa-plus fa-fw"></i>
        </button>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile is-child notification is-light" v-for="post of posts" :key="post.id">
          <div class="">
            <div style="white-space: pre;">{{post.post_text}}</div>
            <div class="is-size-6 has-text-grey">{{post.name}}</div>
          </div>
          <div class="">
            <div class="thumbs is-size-4">
              <a v-if="post.user_email == user_email" class="has-text-danger" style="position: absolute; right: 1rem"
                v-on:click="remove(post)">
                <i class="fa fa-trash fa-fw"></i>
              </a>
              <span class="has-text-info" @mouseenter="active=post.id; getThumbs(post)" @mouseleave="active=false">
                <span>
                  <i v-if="post.likers.indexOf(username)> -1" class="fa fa-flip-horizontal fa-thumbs-up"
                    v-on:click="rate(1, post)"></i>
                  <i v-else class="fa fa-flip-horizontal fa-thumbs-o-up" v-on:click="rate(1, post)"></i>
                </span>
                <span>
                  <i v-if="post.dislikers.indexOf(username) > -1" v-on:click="rate(-1, post)"
                    class="fa fa-thumbs-down"></i>
                  <i v-else class="fa fa-thumbs-o-down" v-on:click="rate(-1, post)"></i>
                </span>
              </span>
              <span class="has-text-info" v-show="active==post.id">
                <span class="is-size-7" v-if="post.likers.length > 0" style="margin: 0 1rem 0 1rem">
                  Liked by:
                  <span v-for="(liker, i) of post.likers">
                    <span v-if="i === 0 ">{{liker}}</span>
                    <span v-else>, {{liker}}</span>
                  </span>
                </span>
                <span class="is-size-7" v-if="post.dislikers.length > 0" style="margin: 0 1rem 0 1rem">
                  Disliked by:
                  <span v-for="(liker, i) of post.dislikers">
                    <span v-if="i === 0 ">{{liker}}</span>
                    <span v-else>, {{liker}}</span>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_posts_url = "[[=XML(get_posts_url)]]";
  let set_thumbs_url = "[[=XML(set_thumbs_url)]]";
  let get_thumbs_url = "[[=XML(get_thumbs_url)]]";
  let post_url = "[[=XML(post_url)]]";
  let delete_url = "[[=XML(delete_url)]]";
  let user_email = "[[=XML(user_email)]]";
  let username = "[[=XML(username)]]";
</script>
<script src="js/index.js"></script>
[[end]]