body {
    text-align: center;
}

/*make the labels inside the tooltip aligned*/
div#tooltip #left{
    float:left;
    width: 160px;
    text-align: left;
  }
  div#tooltip #right{
    float:left;
    width: 160px;
    text-align: right;
  }
  div#tooltip #middle{
    float:left;
    width: 10px;
    text-align: center;
  }
  
  /*tooltip css*/
  div#tooltip{
    position: absolute;
    left:-100px; 
    top:-100px;/*not specifying an intial value makes the whole graph shift a little */
    width:330px;
    height:55px;
    padding:10px;
    color:black;
    background-color: #f3f3f3;
    border-radius: 5px 5px 5px 5px;
    font-family: Helvetica;
    font-size: 15px;
    line-height:1rem;
  }