body{
    text-align: center;
}
.axis line,
.axis path{
    stroke:black;
    shape-rendering: crispEdges;
}

.axis text{
    font: Times;
    font-size: 12px;
    font-weight: bold;
}

/* CSS for the grid lines*/
.grid line,
.grid path{
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}